<section class="products-grid">
    {{#each data}}
    <a href="/products/{{this.id}}" class="product-card">
        <article>
            <h3 class="product-title">{{this.title}}</h3>
            <p class="product-price">${{this.price}}</p>
            <p class="product-category">{{this.category}}</p>
            <p class="product-stock">Stock: {{this.stock}}</p>
        </article>
    </a>
    {{/each}}
</section>